Option 6 (Domain Name Server) throws formatting error when multiple IPs are provided

When testing against a DHCP server that provides multiple DNS servers in Option 6, `dhcptest` throws a formatting error and falls back to displaying the raw hex values.

According to RFC 2132 (Section 3.8), the Domain Name Server option is intended to supply a list of IP addresses, meaning the payload length will be a multiple of 4. The tool currently seems to expect exactly 4 bytes for this option and fails when a  multiple-server payload is received.

### Steps to Reproduce

1. Configure a DHCP server to serve two or more DNS servers (e.g., `192.168.50.1` and `9.9.9.9`).
2. Run `dhcptest` with `--query`
    ```
    dhcptest.exe --query
    ```
3. Observe `DHCPOFFER` returned by server

### Expected Behavior

`dhcptest` should parse more than one IP addresses and format it as a readable list, for example:
```
6 (Domain Name Server Option): 192.168.50.1, 9.9.9.9
```

### Actual Behavior

`dhcptest` throws an error stating the IP address must be 4 bytes, and dumps the raw hex string instead:

```console
.\dhcptest.exe --query --bind 192.168.50.127

dhcptest v0.9 - Created by Vladimir Panteleev
https://github.com/CyberShadow/dhcptest
Run with --help for a list of command-line options.

Listening for DHCP replies on port 68.
Sending packet:
  op=BOOTREQUEST chaddr=76:75:E8:BD:5B:CA hops=0 xid=7D1AFDB9 secs=0 flags=8000
  ciaddr=0.0.0.0 yiaddr=0.0.0.0 siaddr=0.0.0.0 giaddr=0.0.0.0 sname= file=
  1 options:
     53 (DHCP Message Type): discover
Received packet from 192.168.50.1:67:
Error formatting option   6 (Domain Name Server Option) as ip: IP address must be 4 bytes (displaying as hex)
  op=BOOTREPLY chaddr=76:75:E8:BD:5B:CA hops=0 xid=7D1AFDB9 secs=0 flags=8000
  ciaddr=0.0.0.0 yiaddr=192.168.50.202 siaddr=192.168.50.1 giaddr=0.0.0.0 sname= file=
  10 options:
     53 (DHCP Message Type): offer
     54 (Server Identifier): 192.168.50.1
     51 (IP Address Lease Time): 21600 (6 hours)
     58 (Renewal (T1) Time Value): 10800 (3 hours)
     59 (Rebinding (T2) Time Value): 18900 (5 hours and 15 minutes)
      1 (Subnet Mask): 255.255.255.0
     28 (Broadcast Address Option): 192.168.50.255
      3 (Router Option): 192.168.50.1
     15 (Domain Name): internal
      6 (Domain Name Server Option)[hex]: C0 A8 32 01 09 09 09 09 
```

### Environment

- Windows 11 25H2
- `dhcptest` version: Compiled from latest https://github.com/CyberShadow/dhcptest/commit/40994c93194ecc8506790ca459a1b7063b1b10f4

Fixed, thanks for the report.